
@{
    ViewBag.Title = "小类管理";
}
<!--上面的查询按钮-->
<blockquote class="layui-elem-quote layui-text" style="height:30px">

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">小类名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="Type" id="txt_Type" autocomplete="off" placeholder="请输入小类名称查询" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">所属大类:</label>
                <div class="layui-input-inline">
                    <select id="ddl_Type" name="ddl_Type">
                        <option value="">请选择</option>
                        @foreach (var item in ViewBag.TypeMain)
                        {
                            <option value="@item.RowGuid">@item.Type</option>
                        }
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn" id="btn_ok">查询</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
       </form>
</blockquote>

<table class="layui-hide" id="grid" lay-filter="grid"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="edit">编辑</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</button>
    </div>
</script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript">
    layui.config({
        base: "/js/"
    }).use(['form', 'layer', 'jquery', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;
        var table = layui.table;
        table.render({
            elem: '#grid'
            , url: '/TypeItem/GetList/'
            , page: true
            , toolbar: '#toolbarDemo'
            , method: 'POST'
            , limit: 10
            , limits: [10, 20, 30]
            , event: true
            , loading: true
            , id: 'grid'
            , cols: [[
                { checkbox: true, title: '序号' }
                , { field: 'TypeGuid', width: 300, title: '所属大类' }
                , { field: 'ItemName', width: 300, title: '小类名称' }
                , { field: 'SortNumber', width: 80, title: '序号', sort: true }
            ]]
            , where: {
                typeText: $("#txt_Type").val(),
                typeMain: $("#ddl_Type").val()
            }

        });


        //toolBar事件
        table.on('toolbar(grid)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case "del":
                    var data = checkStatus.data;

                    layer.confirm("你确定要删除选中的数据么?", function () {
                        if (data.length <= 0 || data.length > 1) {
                            layer.msg("请选择一行数据删除!");
                            return;
                        }
                        GetDataByJson('/TypeItem/DeleteItemType/', 'Post', { rowGuid: data[0].RowGuid }, function (res) {

                            if (res.Code == 200) {
                                layer.msg("删除成功!");
                                table.reload('grid', {
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                    , where: {

                                        typeText: $("#txt_Type").val(),
                                        typeMain: $("#ddl_Type").val()
                                    }
                                })
                            }
                            else {
                                layer.msg(res.Message);
                            }

                        })

                    })
                    break;
                case "add":
                    var index = layer.open({
                        type: 2
                        , title: '小类添加'
                        , content: '@Url.Action("Add", "TypeItem")'
                        , area: ['600px', '400px']
                        , shade: 0.4 //不显示遮罩
                        , end: function () {

                            table.reload('grid', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                                , where: {
                                    typeText: $("#txt_Type").val(),
                                    typeMain: $("#ddl_Type").val()

                                }
                            })

                        }

                    });
                    break;


                case "edit":
                    var data = checkStatus.data;
                    if (data.length <= 0 || data.length > 1) {
                        layer.msg("请选择一行数据编辑!");
                        return;
                    }
                    var index = layer.open({
                        type: 2
                        , title: '小类编辑'
                        , content: '@Url.Action("Edit", "TypeItem")?rowGuid=' + data[0].RowGuid
                        , area: ['600px', '400px']
                        , shade: 0.4 //不显示遮罩
                        , end: function () {

                            table.reload('grid', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                                , where: {
                                    typeText: $("#txt_Type").val(),
                                    typeMain: $("#ddl_Type").val()

                                }
                            })

                        }

                    });
                    break;
            }

        })

        //点击查询
        $("#btn_ok").click(function () {

            table.reload('grid', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    typeText: $("#txt_Type").val(),
                    typeMain: $("#ddl_Type").val()

                }
            })
        });


    })


</script>








