
@{
    ViewBag.Title = "用户审核";
}

@using OpenAuth.Repository.Domain.DonvvOffice;
@model  T_User_CompanyAuth

<form class="layui-form layui-form-pane" action="" style="padding-top:20px" lay-filter="example">

    <div class="layui-form-item">
        <label class="layui-form-label">工牌</label>
        <div class="layui-input-block">
            @if (Model.CardUrl != null)
            {
                <img class="layui-upload-img" src="@Model.CardUrl" style="width:800px">
            }
            else
            {
                <p style="margin-left:10px">没有上传工牌!</p>
            }
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">营业执照</label>
        <div class="layui-input-block">
            @if (Model.BusinessLicenseUrl != null)
            {
                <img class="layui-upload-img" src="@Model.BusinessLicenseUrl" style="width:800px">
            }
            else
            {
                <p style="margin-left:10px">没有上传营业执照!</p>
            }
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="btn_AuditPass">审核通过</button>
            <button type="button" class="layui-btn layui-btn-primary" id="btn_NotAuditPass">审核不通过</button>
        </div>
    </div>

    <div class="layui-form-item" id="txt_AuditUnReasonContent" hidden="hidden">
        <div class="layui-input-block" style="margin-left:0px">
            <textarea placeholder="请输入审核不通过理由" id="txt_AuditUnReason" name="txt_AuditUnReason" class="layui-textarea"></textarea>
        </div>
    </div>

    <script type="text/javascript" src="/layui/layui.js"></script>
    <script src="~/js/GetParam.js"></script>
    <script type="text/javascript">


        layui.config({
            base: "/js/"
        }).use(['form', 'layer'], function () {
            var form = layui.form,
                layer = layui.layer
            $ = layui.jquery;
            var rowGuid = getQueryString("rowGuid");

            $("#btn_AuditPass").click(function () {
                layer.confirm('你确定要审核通过该条记录么？', function () {

                    GetDataByJson('/UserInfo/Audit/', 'Post', {
                        type: 1,
                      
                        rowGuid: rowGuid
                    }, function (res) {
                        if (res.Code == 200) {
                            layer.msg("审核成功!");

                        }
                        else {
                            layer.msg(res.Message);
                        }

                    })

                })
            })



            $("#btn_NotAuditPass").click(function () {
                layer.confirm('你确定要审核不通过该条记录么？', function () {

                    GetDataByJson('/UserInfo/Audit/', 'Post', {
                        type: 2,
                        contentValue: $("#txt_AuditUnReason").val(),
                        rowGuid: rowGuid
                    }, function (res) {
                        if (res.Code == 200) {
                            layer.msg("审核成功!");

                        }
                        else {
                            layer.msg(res.Message);
                        }

                    })
                 


                })
            })
        })
    </script>


</form>





