@section header
{
    <link rel="stylesheet" href="/css/main.css" media="all" />
}
<div class="panel_box row">
    <div class="panel col">
        <a href="javascript:;" >
            <div class="panel_icon">
                <i class="layui-icon" data-icon="&#xe63a;">&#xe63a;</i>
            </div>
            <div class="panel_word  information">
                <span></span>
                <cite>资讯总数</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" >
            <div class="panel_icon" style="background-color:#FF5722;">
                <i class="iconfont icon-dongtaifensishu" data-icon="icon-dongtaifensishu"></i>
            </div>
            <div class="panel_word company">
                <span></span>
                <cite>公司总数</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" >
            <div class="panel_icon" style="background-color:#009688;">
                <i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
            </div>
            <div class="panel_word userAll">
                <span></span>
                <cite>用户总数</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" >
            <div class="panel_icon" style="background-color:#5FB878;">
                <i class="layui-icon" data-icon="&#xe64a;">&#xe64a;</i>
            </div>
            <div class="panel_word needs">
                <span></span>
                <cite>发布需求数</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" >
            <div class="panel_icon" style="background-color:#F7B824;">
                <i class="iconfont icon-wenben" data-icon="icon-wenben"></i>
            </div>
            <div class="panel_word needs1">
                <span></span>
                <cite>发布供给数</cite>
            </div>
        </a>
    </div>


<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/main.js"></script>
