USE [OpenAuthDB]
GO
/****** Object:  Table [dbo].[T_QsDetailLog1]    Script Date: 2020/11/16 17:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_QsDetailLog1](
	[Id] [nvarchar](50) NOT NULL,
	[MainId] [nvarchar](50) NULL,
	[Test1Score] [int] NULL,
	[Test1] [int] NULL,
	[IsTest1] [bit] NULL,
	[Test1Desc] [nvarchar](500) NULL,
	[Test1FileList] [nvarchar](max) NULL,
	[Test2Score] [int] NULL,
	[Test2] [int] NULL,
	[IsTest2] [bit] NULL,
	[Test2Desc] [nvarchar](500) NULL,
	[Test2FileList] [nvarchar](max) NULL,
	[Test3Score] [int] NULL,
	[Test3] [int] NULL,
	[IsTest3] [bit] NULL,
	[Test3Desc] [nvarchar](500) NULL,
	[Test3FileList] [nvarchar](max) NULL,
	[Test4Score] [int] NULL,
	[Test4] [int] NULL,
	[IsTest4] [bit] NULL,
	[Test4Desc] [nvarchar](500) NULL,
	[Test4FileList] [nvarchar](max) NULL,
	[Test5Score] [int] NULL,
	[Test5] [int] NULL,
	[IsTest5] [bit] NULL,
	[Test5Desc] [nvarchar](500) NULL,
	[Test5FileList] [nvarchar](max) NULL,
	[Test6Score] [int] NULL,
	[Test6] [int] NULL,
	[IsTest6] [bit] NULL,
	[Test6Desc] [nvarchar](500) NULL,
	[Test6FileList] [nvarchar](max) NULL,
	[Test7Score] [int] NULL,
	[Test7] [int] NULL,
	[IsTest7] [bit] NULL,
	[Test7Desc] [nvarchar](500) NULL,
	[Test7FileList] [nvarchar](max) NULL,
	[Test8Score] [int] NULL,
	[Test8] [int] NULL,
	[IsTest8] [bit] NULL,
	[Test8Desc] [nvarchar](500) NULL,
	[Test8FileList] [nvarchar](max) NULL,
	[Test9Score] [int] NULL,
	[Test9] [int] NULL,
	[IsTest9] [bit] NULL,
	[Test9Desc] [nvarchar](500) NULL,
	[Test9FileList] [nvarchar](max) NULL,
	[Test10Score] [int] NULL,
	[Test10] [int] NULL,
	[IsTest10] [bit] NULL,
	[Test10Desc] [nvarchar](500) NULL,
	[Test10FileList] [nvarchar](max) NULL,
	[Test11Score] [int] NULL,
	[Test11] [int] NULL,
	[IsTest11] [bit] NULL,
	[Test11Desc] [nvarchar](500) NULL,
	[Test11FileList] [nvarchar](max) NULL,
	[Test12Score] [int] NULL,
	[Test12] [int] NULL,
	[IsTest12] [bit] NULL,
	[Test12Desc] [nvarchar](500) NULL,
	[Test13FileList] [nvarchar](max) NULL,
	[Test14Score] [int] NULL,
	[Test14] [int] NULL,
	[IsTest14] [bit] NULL,
	[Test14Desc] [nvarchar](500) NULL,
	[Test14FileList] [nvarchar](max) NULL,
	[Test15Score] [int] NULL,
	[Test15] [int] NULL,
	[IsTest15] [bit] NULL,
	[Test15Desc] [nvarchar](500) NULL,
	[Test15FileList] [nvarchar](max) NULL,
	[Test16Score] [int] NULL,
	[Test16] [int] NULL,
	[IsTest16] [bit] NULL,
	[Test16Desc] [nvarchar](500) NULL,
	[Test16FileList] [nvarchar](max) NULL,
	[Test17Score] [int] NULL,
	[Test17] [int] NULL,
	[IsTest17] [bit] NULL,
	[Test17Desc] [nvarchar](500) NULL,
	[Test17FileList] [nvarchar](max) NULL,
	[Test18Score] [int] NULL,
	[Test18] [int] NULL,
	[IsTest18] [bit] NULL,
	[Test18Desc] [nvarchar](500) NULL,
	[Test18FileList] [nvarchar](max) NULL,
	[Test19Score] [int] NULL,
	[Test19] [int] NULL,
	[IsTest19] [bit] NULL,
	[Test19Desc] [nvarchar](500) NULL,
	[Test19FileList] [nvarchar](max) NULL,
	[Test20Score] [int] NULL,
	[Test20] [int] NULL,
	[IsTest20] [bit] NULL,
	[Test20Desc] [nvarchar](500) NULL,
	[Test20FileList] [nvarchar](max) NULL,
	[Test21Score] [int] NULL,
	[Test21] [int] NULL,
	[IsTest21] [bit] NULL,
	[Test21Desc] [nvarchar](500) NULL,
	[Test21FileList] [nvarchar](max) NULL,
	[Test22Score] [int] NULL,
	[Test22] [int] NULL,
	[IsTest22] [bit] NULL,
	[Test22Desc] [nvarchar](500) NULL,
	[Test22FileList] [nvarchar](max) NULL,
	[Test23Score] [int] NULL,
	[Test23] [int] NULL,
	[IsTest23] [bit] NULL,
	[Test23Desc] [nvarchar](500) NULL,
	[Test23FileList] [nvarchar](max) NULL,
	[Test24Score] [int] NULL,
	[Test24] [int] NULL,
	[IsTest24] [bit] NULL,
	[Test24Desc] [nvarchar](500) NULL,
	[Test24FileList] [nvarchar](max) NULL,
	[Test25Score] [int] NULL,
	[Test25] [int] NULL,
	[IsTest25] [bit] NULL,
	[Test25Desc] [nvarchar](500) NULL,
	[Test25FileList] [nvarchar](max) NULL,
	[Test26Score] [int] NULL,
	[Test26] [int] NULL,
	[IsTest26] [bit] NULL,
	[Test26Desc] [nvarchar](500) NULL,
	[Test26FileList] [nvarchar](max) NULL,
	[Test27Score] [int] NULL,
	[Test27] [int] NULL,
	[IsTest27] [bit] NULL,
	[Test27Desc] [nvarchar](500) NULL,
	[Test27FileList] [nvarchar](max) NULL,
	[Test28Score] [int] NULL,
	[Test28] [int] NULL,
	[IsTest28] [bit] NULL,
	[Test28Desc] [nvarchar](500) NULL,
	[Test28FileList] [nvarchar](max) NULL,
	[Test29Score] [int] NULL,
	[Test29] [int] NULL,
	[IsTest29] [bit] NULL,
	[Test29Desc] [nvarchar](500) NULL,
	[Test29FileList] [nvarchar](max) NULL,
	[Test30Score] [int] NULL,
	[Test30] [int] NULL,
	[IsTest30] [bit] NULL,
	[Test30Desc] [nvarchar](500) NULL,
	[Test30FileList] [nvarchar](max) NULL,
	[Test31Score] [int] NULL,
	[Test31] [int] NULL,
	[IsTest31] [bit] NULL,
	[Test31Desc] [nvarchar](500) NULL,
	[Test31FileList] [nvarchar](max) NULL,
	[Test32Score] [int] NULL,
	[Test32] [int] NULL,
	[IsTest32] [bit] NULL,
	[Test32Desc] [nvarchar](500) NULL,
	[Test32FileList] [nvarchar](max) NULL,
	[Test33Score] [int] NULL,
	[Test33] [int] NULL,
	[IsTest33] [bit] NULL,
	[Test33Desc] [nvarchar](500) NULL,
	[Test33FileList] [nvarchar](max) NULL,
	[Test34Score] [int] NULL,
	[Test34] [int] NULL,
	[IsTest34] [bit] NULL,
	[Test34Desc] [nvarchar](500) NULL,
	[Test34FileList] [nvarchar](max) NULL,
	[Test35Score] [int] NULL,
	[Test35] [int] NULL,
	[IsTest35] [bit] NULL,
	[Test35Desc] [nvarchar](500) NULL,
	[Test35FileList] [nvarchar](max) NULL,
	[Test36Score] [int] NULL,
	[Test36] [int] NULL,
	[IsTest36] [bit] NULL,
	[Test36Desc] [nvarchar](500) NULL,
	[Test36FileList] [nvarchar](max) NULL,
	[Test37Score] [int] NULL,
	[Test37] [int] NULL,
	[IsTest37] [bit] NULL,
	[Test37Desc] [nvarchar](500) NULL,
	[Test37FileList] [nvarchar](max) NULL,
	[Test38Score] [int] NULL,
	[Test38] [int] NULL,
	[IsTest38] [bit] NULL,
	[Test38Desc] [nvarchar](500) NULL,
	[Test38FileList] [nvarchar](max) NULL,
	[Test39Score] [int] NULL,
	[Test39] [int] NULL,
	[IsTest39] [bit] NULL,
	[Test39Desc] [nvarchar](500) NULL,
	[Test39FileList] [nvarchar](max) NULL,
	[Test40Score] [int] NULL,
	[Test40] [int] NULL,
	[IsTest40] [bit] NULL,
	[Test40Desc] [nvarchar](500) NULL,
	[Test40FileList] [nvarchar](max) NULL,
	[Test41Score] [int] NULL,
	[Test41] [int] NULL,
	[IsTest41] [bit] NULL,
	[Test41Desc] [nvarchar](500) NULL,
	[Test41FileList] [nvarchar](max) NULL,
	[Test42Score] [int] NULL,
	[Test42] [int] NULL,
	[IsTest42] [bit] NULL,
	[Test42Desc] [nvarchar](500) NULL,
	[Test42FileList] [nvarchar](max) NULL,
	[Test43Score] [int] NULL,
	[Test43] [int] NULL,
	[IsTest43] [bit] NULL,
	[Test43Desc] [nvarchar](500) NULL,
	[Test43FileList] [nvarchar](max) NULL,
	[Test44Score] [int] NULL,
	[Test44] [int] NULL,
	[IsTest44] [bit] NULL,
	[Test44Desc] [nvarchar](500) NULL,
	[Test44FileList] [nvarchar](max) NULL,
	[Test45Score] [int] NULL,
	[Test45] [int] NULL,
	[IsTest45] [bit] NULL,
	[Test45Desc] [nvarchar](500) NULL,
	[Test45FileList] [nvarchar](max) NULL,
	[Test46Score] [int] NULL,
	[Test46] [int] NULL,
	[IsTest46] [bit] NULL,
	[Test46Desc] [nvarchar](500) NULL,
	[Test46FileList] [nvarchar](max) NULL,
	[Test47Score] [int] NULL,
	[Test47] [int] NULL,
	[IsTest47] [bit] NULL,
	[Test47Desc] [nvarchar](500) NULL,
	[Test47FileList] [nvarchar](max) NULL,
	[Test48Score] [int] NULL,
	[Test48] [int] NULL,
	[IsTest48] [bit] NULL,
	[Test48Desc] [nvarchar](500) NULL,
	[Test48FileList] [nvarchar](max) NULL,
	[Test49Score] [int] NULL,
	[Test49] [int] NULL,
	[IsTest49] [bit] NULL,
	[Test49Desc] [nvarchar](500) NULL,
	[Test49FileList] [nvarchar](max) NULL,
	[Test50Score] [int] NULL,
	[Test50] [int] NULL,
	[IsTest50] [bit] NULL,
	[Test50Desc] [nvarchar](500) NULL,
	[Test50FileList] [nvarchar](max) NULL,
	[Test51Score] [int] NULL,
	[Test51] [int] NULL,
	[IsTest51] [bit] NULL,
	[Test51Desc] [nvarchar](500) NULL,
	[Test51FileList] [nvarchar](max) NULL,
	[AddTime] [datetime] NULL,
	[AddUserName] [nvarchar](50) NULL,
	[AddUserGuid] [nvarchar](50) NULL,
	[UpdateTime] [datetime] NULL,
	[RowStatus] [int] NULL,
	[Note] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_QsDetailLog1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_QsMainLog]    Script Date: 2020/11/16 17:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_QsMainLog](
	[Id] [nvarchar](50) NOT NULL,
	[TemplateType] [nvarchar](50) NULL,
	[ComapnyName] [nvarchar](50) NULL,
	[DanZhaoName] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[BusinessPro] [nvarchar](50) NULL,
	[LegalName] [nvarchar](50) NULL,
	[SecutyName] [nvarchar](50) NULL,
	[LinkTel] [nvarchar](50) NULL,
	[CheckTime] [datetime] NULL,
	[BelongArea] [nvarchar](50) NULL,
	[BelongTown] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NULL,
	[BuildTime] [datetime] NULL,
	[PeopleCount] [nvarchar](50) NULL,
	[Area] [nvarchar](50) NULL,
	[CompanyType] [nvarchar](50) NULL,
	[AddUserName] [nvarchar](50) NULL,
	[AddUserGuid] [nvarchar](50) NULL,
	[AddTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[RowStatus] [int] NULL,
	[TotalCount] [int] NULL,
	[MyCount] [int] NULL,
	[NotCount] [int] NULL,
	[PercentValue] [decimal](18, 2) NULL,
	[IsTuiJian] [bit] NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_T_Q是、] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
